.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title done"
    "description description";

  .title {
    grid-area: title;
  }

  .done {
    grid-area: done;
  }

  .description {
    grid-area: description;

    mat-form-field {
      width: 100%;
    }
  }
}
