
      <mat-card [ngClass]="{'task-completed-style': task.done}" >
        <mat-card-header>
          <div class="task-header-container">
            <!-- <div> -->
              <div class="task-header">
                <mat-card-title class="task-title" [ngClass]="{'task-completed-style': task.done}">
                  {{ task.title }}
                </mat-card-title>

                  <mat-checkbox color="primary" [matTooltip]="task.done ? 'Marcar como pendiente' : 'Marcar como completado'" [checked]="task.done" (change)="changeTask()">
                    {{ task.done ? "" : "Completar" }}
                  </mat-checkbox>
              </div>
              <div class="task-header">
              <mat-card-subtitle class="task-date">
                {{ task.date | date : "dd/MM/yyyy" }}
              <p class="task-status">
                <i>{{ task.done ? "Completado" : "Pendiente" }}</i>
              </p>
              </mat-card-subtitle>

            <mat-card-actions class="task-options">
              <button mat-icon-button [matTooltip]="'Editar tarea'" (click)="editTask()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button [matTooltip]="'Eliminar tarea'" (click)="deleteTask()">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>

              </div>

            <!-- </div> -->
          </div>
        </mat-card-header>
        <mat-card-content>
          <p  [matTooltip]="task.description" [ngClass]="{'task-completed-style': task.done}">
            {{
                 task.description
            }}
          </p>
        </mat-card-content>
      </mat-card>
