
      <mat-card [ngClass]="{'task-completed-style': task.done}" >
        <mat-card-header>
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <div>
              <mat-card-title class="task-title" [ngClass]="{'task-completed-style': task.done}">
                {{ task.title }}
              </mat-card-title>
              <mat-card-subtitle class="task-date">
                {{ task.date | date : "dd/MM/yyyy" }}
              </mat-card-subtitle>

              <mat-checkbox [checked]="task.done" (change)="changeTask()">
                {{ task.done ? "Completado" : "Pendiente" }}
              </mat-checkbox>
            </div>
            <mat-card-actions class="task-options">
              <button mat-icon-button (click)="editTask()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteTask()">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p  [matTooltip]="task.description" [ngClass]="{'task-completed-style': task.done}">
            {{
                 task.description
            }}
          </p>
        </mat-card-content>
      </mat-card>
