
<mat-card class="tasks-card">
<button [matTooltip]="'Cerrar sesión'" mat-icon-button (click)="logout()" style="position: absolute; top: 10px; right: 10px;">
  <mat-icon >exit_to_app</mat-icon>
</button>
  <mat-card-title> Agregar Tarea </mat-card-title>
  <app-task-form
    [task]="task"
    (submitEvent)="handleForm($event)"
  ></app-task-form>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<h3 class="title">Tareas</h3>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="tasksService.tasks$ | async as tasks">
      <ng-container *ngIf="tasks.length === 0">
        <p class="no-tasks">No hay tareas disponibles.</p>
      </ng-container>
    </div>

    <div class="task-card task-card-list" class="tasks-container" *ngFor="let task of tasksService.tasks$ | async">
      <app-task-item [task]="task" (taskAction)="handleTaskAction($event)"></app-task-item>
  </div>
