
<mat-card class="tasks-card">
<button mat-icon-button (click)="logout()" style="position: absolute; top: 10px; right: 10px;">
  <mat-icon>exit_to_app</mat-icon>
</button>
  <mat-card-title> Agregar Tarea </mat-card-title>
  <app-task-form
    [task]="task"
    (submitEvent)="handleForm($event)"
  ></app-task-form>
  <mat-card-footer>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<h3 class="title">Tareas</h3>
<mat-card-content *ngIf="tasks.length === 0">
  <p>No hay tareas</p>
</mat-card-content>
    <div class="task-card task-card-list" class="tasks-container" *ngFor="let task of tasksService.tasks$ | async">
      <mat-card [ngClass]="{'task-completed-style': task.done}" >
        <mat-card-header>
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <div>
              <mat-card-title class="task-title" [ngClass]="{'task-completed-style': task.done}">
                {{ task.title }}
              </mat-card-title>
              <mat-card-subtitle class="task-date">
                {{ task.date | date : "dd/MM/yyyy" }}
              </mat-card-subtitle>

              <mat-checkbox [checked]="task.done" (change)="changeTask(task)">
                {{ task.done ? "Completado" : "Pendiente" }}
              </mat-checkbox>
            </div>
            <mat-card-actions class="task-options">
              <button mat-icon-button (click)="editTask(task)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteTask(task)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p  [matTooltip]="task.description" [ngClass]="{'task-completed-style': task.done}">
            {{
                 task.description
            }}
          </p>
        </mat-card-content>
      </mat-card>
  </div>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
