$primary-color: #ff6600;
mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
   box-shadow: 0px 0px 10px 0px $primary-color;


  &-title,
  &-subtitle,
  &-content {
    display: flex;
    justify-content: center;
  }

  &-title {
    margin: 10px 0;
  }
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button, .login-button {
  width: 100%;
}
